# C++-----
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#Lua-----
# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

#CodeBlocks
*.cbp
*.depend
*.layout
wx_pch.h
*.rc
*.wxs
Release_wx_pch_h_gch


#Keil-----
*.LST
*.lst
*.lnp
*.[Mm]51
*.13345
*.uvopt
*.uvproj
*.Bak
*.htm
*.plg
*.tmp
.vscode/settings.json
C++/Windows/CodeBlocks/Terminal_Discovery/src/terminal_discovery
C++/Windows/CodeBlocks/Terminal_Discovery/src/demo/stage0_raw_socket_demo
C++/Windows/CodeBlocks/Terminal_Discovery/src/terminal_discovery_tests
C++/Windows/CodeBlocks/Terminal_Discovery/src/terminal_integration_tests
C++/Windows/CodeBlocks/TerminalDiscovery/src/td_switch_mac_stub_tests
C++/Windows/CodeBlocks/TerminalDiscovery/src/terminal_discovery_tests
C++/Windows/CodeBlocks/TerminalDiscovery/src/terminal_integration_tests
C++/Windows/CodeBlocks/TerminalDiscovery/src/terminal_discovery
C++/Windows/CodeBlocks/TerminalDiscovery/src/terminal_discovery
C++/Windows/CodeBlocks/TerminalDiscovery/src/terminal_embedded_init_tests
C++/Windows/CodeBlocks/minish/src/minish
